header {
    display: flex;
    align-items: center;
    font-size: 2em; /* increase the font size */
    font-family: 'Montserrat', sans-serif; /* change the font style */
    
}

header h1, header nav {
    margin: 0;

}


header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    
}

header nav ul li {
    margin-right: 10px;
    
}
a {
    color: #333; /* change the link color */
  }
nav a {
  text-decoration: none; /* remove the underline */
  color: #333; /* change the link color */
}
nav a:hover {
  color: #0066ff; /* change the link color on hover */
}
