.article-content {
    line-height: 1.6;
    font-size: 20px;
    color: #333;
  }
  
  .article-content h1,
  .article-content h2,
  .article-content h3,
  .article-content h4,
  .article-content h5,
  .article-content h6 {
    font-weight: 600;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
  }
  
  .article-content p {
    margin-bottom: 1em;
  }
  
  .article-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
  }
  
  .article-content a {
    color: #0077cc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .article-content a:hover {
    color: #1a73e8;
    text-decoration: underline;
  }
  
  .article-content ul,
  .article-content ol {
    margin-left: 1.5rem;
    margin-bottom: 1em;
  }
  
  .article-content blockquote {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-left: 4px solid #ccc;
    background-color: #f7f2e8;
    font-style: italic;
  }
  
  .article-content pre {
    background-color: #f7f2e8;
    padding: 1em;
    overflow-x: auto;
    border-radius: 4px;
  }
  
  .article-content code {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
  }
  
  .article-content pre > code {
    background-color: transparent;
    padding: 0;
  }
  .article-content h1 {
    font-size: 2em;
    margin-bottom: 0.1em;
    margin-top: 0.1em; 
  }
  .article-content h4 {
    margin-top: 0; /* Set margin-top to 0 */
    font-size: 1.25em;
    color: #666;
  }
  